In [1]:
import pandas as pd 
import numpy as np

## The data is a txt file type of data.

In [2]:
# list to store region
region = []
# list to store university
university = []
# list to store state
state = []

# open and read the csv file
with open('Datasets\\university_towns.txt', 'r') as uni_file:
    # iterate through line by line
    for line in uni_file:
        # if edit in line then it's a state
        if 'edit' in line:
            # hold the value of state until another is find
            st = line
        else:
            # append the values in a lists
            state.append((st.replace('[edit]\n', '')))
            region.append(line[:line.find(' (')])
            university.append(line[line.find('('):line.find(')')].replace('(', ''))

In [3]:
# put the data altogether into a dataframe
df = pd.DataFrame({'State': state, 'Region':region, 'University': university})

In [4]:
df.head()

     State        Region                     University
0  Alabama        Auburn              Auburn University
1  Alabama      Florence    University of North Alabama
2  Alabama  Jacksonville  Jacksonville State University
3  Alabama    Livingston     University of West Alabama
4  Alabama    Montevallo       University of Montevallo

In [5]:
# nothing more to clean
df.isnull().sum()

State         0
Region        0
University    0
dtype: int64

In [6]:
df.tail()

         State         Region                               University
512  Wisconsin    River Falls    University of Wisconsinâ€“River Falls
513  Wisconsin  Stevens Point  University of Wisconsinâ€“Stevens Point
514  Wisconsin       Waukesha                       Carroll University
515  Wisconsin     Whitewater     University of Wisconsinâ€“Whitewater
516    Wyoming        Laramie                    University of Wyoming

In [7]:
df.to_csv('..//EDA//datasets//Universities.csv')