In [1]:
import pandas as pd 
import numpy as np

In [2]:
# read the file
df = pd.read_csv('Datasets\\winemag-data-130k-v2.csv')

## Understand the data

In [3]:
# look at the head of the file
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
# shape of the data
df.shape

(129971, 14)

In [5]:
# check missing values count
df.isnull().sum()

Unnamed: 0                   0
country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

In [6]:
# set index to 0 and drop region 2 feature
df.drop(['region_2', 'Unnamed: 0'], axis=1, inplace=True)

In [7]:
s = df.loc[df.designation.isna()].head(3).index

The column 'designation' has some missing values, Which means it's either not recorded by mistake or the winery has no designation at all. However, we can try to infer and set its designation based on its title. so let's do that

In [8]:
import re

In [9]:
# regex for extracting the text in title column
pat = r'([A-Za-z]+)'

# the function to do the work
def extract_designation(column):
    # store the matched pattern in a list
    li = []
    for row in  column:
        res = re.findall(pattern=pat, string=row)
        # collect only the first appearance of text
        li.append(res[0])
    return li

In [10]:
# list of the values to fill 
to_fill = extract_designation(df['title'])

# Lists to represent keys and values
keys = [x for x in range(len(to_fill))]

# dict to hold the values
myDict = { k:v for (k,v) in zip(keys, to_fill)}

df['designation'] = df['designation'].fillna(myDict)

In [11]:
# fill missing price with the avg 
df.price = df.price.fillna(np.mean(df.price))

In [12]:
df['taster_name'].fillna('No taster', inplace=True)
df['taster_twitter_handle'].fillna('No taster', inplace=True)

In [13]:
df.dropna(axis=0, inplace=True)

In [14]:
# Drop the rows where countries data is missing
df['country'].dropna(inplace=True, axis=0)

In [15]:
# Drop the missing data in variety col
df['variety'].dropna(inplace=True, axis=0)

In [16]:
# reveal the rows with null values in designation column
df.loc[df['designation'].isnull()].head()

Empty DataFrame
Columns: [country, description, designation, points, price, province, region_1, taster_name, taster_twitter_handle, title, variety, winery]
Index: []

In [17]:
# fill the missing values in designation with 'No Designation' - Missing values
df.designation.fillna('No Designation', inplace=True)

In [18]:
# fill the missing values in price with the average - Missing values
df.price.fillna(df.price.mean, inplace=True)

In [19]:
# Drop the rows with missing values in province columns - Missing values
df['province'].dropna(inplace=True, axis=0)

In [20]:
# cleaned
df.isnull().sum()

country                  0
description              0
designation              0
points                   0
price                    0
province                 0
region_1                 0
taster_name              0
taster_twitter_handle    0
title                    0
variety                  0
winery                   0
dtype: int64

In [21]:
df.to_csv('..//EDA/Datasets//wine_mag.csv')